In [ ]:
import numpy as np

# array do individuo
individuo = np.array([
#   as colunas sao os dias de aulas da semana
#   Seg Ter Qua Qui Sex
    [1, 0 ,1, 1, 0], # As linhas sao os horarios de aula em um dia
    [0, 1, 0, 1, 1],
    [1, 1, 1, 1, 1]
])


# exemplo de informacoes para uma aula vaga
# ====NOME DOS CAMPOS=====
# ------------------------
# Disciplina = null object
# -Professor = null object
# -----Turma = null object
# --------ID = 0----------


# Exemplo de informacoes para uma aula
# ======NOME DOS CAMPOS======
# ---------------------------
# Disciplina = Banco de dados
# -Professor = Einstein------
# -----Turma = 2-------------
# --------ID = 0-------------

In [ ]:
import numpy as np

'''
[ # Periodo (1)
        [0,0,0,0,0],
        [0,0,0,0,0],
        [0,0,0,0,0],
        [0,0,0,0,0],
        [0,0,0,0,0],
    ],

'''





# Aulas de Segunda
s_1 = {"Disciplina": None,"Professor": None,"Turma": None, "ID": 0},


# Aulas de Terça
t_1 = {"Disciplina": "Sitemas operacionais","Professor": "Vinicius","Turma": 1, "ID": 2},
t_2 = {"Disciplina": "Codigo de alta performance","Professor": "Tiago","Turma": 1, "ID": 3},

# aulas da Quarta
q_2 = {"Disciplina": "Database Aplication","Professor": "Marcos Antonio","Turma": 1, "ID": 4},
q_1 = {"Disciplina": "Programação Mobile","Professor": "Igor","Turma": 1, "ID": 5},

# aulas Quinta 
qui_1 = {"Disciplina": "Rede de Computadores","Professor": "Evandro","Turma": 1, "ID": 6},
qui_2 = {"Disciplina": "Programação Mobile","Professor": "Igor","Turma": 1, "ID": 7},

# aulas Sexta
sex_1 = {"Disciplina": "Codigo de alta performance","Professor": "Tiago","Turma": 1, "ID": 8},
sex_2 = {"Disciplina": "Arquitetura de Software","Professor": "Karoline","Turma": 1, "ID": 9},



# Array de matrizes bidimensionais
# dentro de cada matrix contem a informacao das aulas 
# as colunas sao os dias de aula 
# as linhas sao os horarios das aulas 
individuo = np.array (
    [ # Periodo (1)
    #   seg  Ter Qua Qui   Sex
        [s_1,t_1,q_1,qui_1,sex_1], # 8:20 as 9:10
        [s_1,t_1,q_2,qui_1,sex_1], # 9:10 as 10:00
        [s_1,t_2,q_2,qui_2,sex_2], # 10:10 as 11:00
        [s_1,t_2,q_2,qui_2,sex_2], # 11:00 as 11:50
    ]
)